.clipy-circle{
    border-radius: 31% 69% 41% 59% / 56% 42% 58% 44%;
    width: 55%;
    height: 55%;
    background-color: #EF8D21;
    color: white;
    display: flex
;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    top: 30%;
    z-index: 1;



}
.person{
    z-index: 5;
    position: absolute;
    top: -20px;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
    margin: auto;
    top: 12%;
    right: 9%;
}
.circle{
    border-radius: 50%;
    height: 9rem;
    width: 10rem;
    border: 10px solid #FCE6CE;
    z-index: 1;
    position: absolute;
    right: 25%;
    z-index: 1;
}
.circle1{
    border-radius: 50%;
    height: 17rem;
    width: 18rem;
    border: 4rem solid #F7F4F2;
    top: 36%;
    position: absolute;
    z-index: 1;
    margin-left: 2rem;
}
.text{
    position: absolute;
    top: 22%;
    right: 7%;
    font-size: 23px;
}
.info{
    border-radius: 20px;
    padding: 20px;
    margin-top: 1rem;
    box-shadow: 0 7px 5px#9E9E9E;

}
.vertical-line{
    border-left: 2px solid #9E9E9E;
    height: 25px;
   
}
.booking{
    border: 3px solid black;
    border-radius: 20px;
    padding: 10px;
    color: black;
    box-shadow: 0 7px 5px#EF8D21;
    
}